<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Quiz</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <main class="new_quiz">
    <form action="/quizzes/" method="POST">
      <label for="">Title :</label>
        <input type="text" name="title"><br>
      <label for="">Description :</label>
        <input type="text" name="description"><br>
      <label for="">Hide Quiz from Public:</label>
        <input type="checkbox" name="visibility" value="false"><br>
      <label for="">Photo URL</label>
        <input type="text" name="photo_url"><br>
      <label for="">Category</label>
        <input type="text" name="category"><br>
<!-- import from other pages-->
      <table class="table user-quiz-questions" >
        <thead>
          <tr>
            <th style="word-wrap:break-word; width: 70%">Question : </th>
            <th style="width: 30%; ">Answer:</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td style="word-wrap:break-word; width: 70%">
                <input type="text" name="q1"><br>
              </td>
              <td style="width: 30%; white-space:nowrap;">
                <input type="text" name="q1">
                <input type="radio" name="q1" value=1>
                  <label for="">1</label><br>
                <input type="text" name="q1">
                <input type="radio" name="q1" value=2>
                  <label for="">2</label><br>
                <input type="text" name="q1">
                <input type="radio" name="q1" value=3>
                  <label for="">3</label><br>
              </td>
            </tr>
            <tr>
              <td style="word-wrap:break-word; width: 70%">
                <input type="text" name="q2"><br>
              </td>
              <td style="width: 30%; white-space:nowrap;">
                <input type="text" name="q2">
                <input type="radio" name="q2" value=1>
                  <label for="">1</label><br>
                <input type="text" name="q2">
                <input type="radio" name="q2" value=2>
                  <label for="">2</label><br>
                <input type="text" name="q2">
                <input type="radio" name="q2" value=3>
                  <label for="">3</label><br>
              </td>
            </tr>
        </tbody>
      </table>
      <button>submit</button>
    </form>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/homepage.js"></script>
  </main>
</body>
</html>
